bucket="datablue-tfstate-ap-southeast-1-REPLACE-ME"
key="test/04-entry-foundation-runtime/terraform.tfstate"
region="ap-southeast-1"
encrypt=true
use_lockfile=true
dynamodb_table="datablue-test-tflocks"
profile="datablue-test-entry"
